{{define "subject"}}Welcome to StratCheck!{{end}}

{{define "plainBody"}}

Welcome to StratCheck!

We hope StratCheck can become a vital tool in your arsenal as a trader. Happy Trading!

For reference, your user ID number is {{.ID}}

Thanks,

The StratCheck Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>Welcome to StratCheck!</p>
    <p>We hope StratCheck can become a vital tool in your arsenal as a trader. Happy Trading!</p>
    <p>For reference, your user ID number is {{.ID}}</p>
    <p>Thanks,</p>
    <p>The StratCheck Team</p>
</body>

</html>
{{end}}